<div class="seccion-container inicio">
    <div class="container">
        <div class="row">
            <h1 class="titulo">Inicio</h1>
            <div class="col-sm-6 mision">
                <h2>Misión</h2>
                <p>Aumentar la productividad de competitividad y rentabilidad de nuestros clientes
                    entregandoles soluciones integrales de gestión especializadas en un sector
                    que les asegure la disponibilidad de estabilidad de seguridad y oportunidad
                    de información para la toma de decisiones.
                </p>
            </div>
            <div class="col-sm-6 vision">
                <h2>Visión</h2>
                <p>Nos vemos en américa latina como la empresa de software más reconocida por su 
                    gran nivel profesional, y apreciados por nuestros clientes como el aliado 
                    estratégico en la dirección de sus negocios.
                </p>
            </div>
            <div class="col-12 razon-social">
                <h2>Razón social</h2>
                <span class="encabezado">¡Estamos comprometidos con el desarrollo  y las oportunidades de nuestro país!</span>
                <p>Hoy hacemos parte de Compromiso Valle, una iniciativa de responsabilidad social 
                    que promueve el progreso de la región aportando a la construcción de mejores 
                    oportunidades para la población más vulnerable.
                </p>
                <h3>Áreas de impacto</h3>
                <ul>
                    <li>Seguridad alimentaria</li>
                    <li>Transformación de proyectos de vida</li>
                    <li>Empleabilidad</li>
                    <li>Liderazgo solido</li>
                    <li>Emprendimiento</li>
                    <li>Educación</li>
                </ul>

            </div>
        </div>
    </div>
</div>
