<div class="seccion-aside-container">
  <div class="container">
    <div class="row">
      <div class="col">
        <aside class="col">
          <ul class="listado-aside">
            <li>
              <a
                class="nav-link active"
                aria-current="page"
                href="https://es.wikipedia.org/wiki/Sistema_de_planificaci%C3%B3n_de_recursos_empresariales"
                target="_blank"
                >¿Qué es ERP?</a
              >
            </li>
            <li>
              <a
                class="nav-link active"
                aria-current="page"
                href="https://es.wikipedia.org/wiki/Gesti%C3%B3n_de_Relaciones_con_el_Cliente"
                target="_blank"
                >¿Qué es CRM?</a
              >
            </li>
            <li>
              <a
                class="nav-link active"
                aria-current="page"
                href="https://es.wikipedia.org/wiki/Comercio_electr%C3%B3nico"
                target="_blank"
                >¿Qué es E-Commerce?</a
              >
            </li>
            <li>
              <a
                class="nav-link active"
                aria-current="page"
                href="https://www.siesa.com/"
                target="_blank"
                >¡Click para más información!</a
              >
            </li>
          </ul>
        </aside>
      </div>
    </div>
  </div>
</div>
