<div class="seccion-container servicios">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="titulo">Servicios</h1>
        <div class="card-group">
          <div class="card">
            <img src="../../../assets/img/Cloud-services.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Cloud Service</h5>
              <p class="card-text">
                Una solución de software ERP en la nube para administrar su
                compañia de forma fácil y segura.
              </p>
            </div>
          </div>
          <div class="card">
            <img src="../../../assets/img/IT-solutions.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">IT Solutions</h5>
              <p class="card-text">
                Soluciones en infraestructura tecnológica que garantiza el éxito
                en la implementación y mantenimiento del software en su
                compañia.
              </p>
            </div>
          </div>
          <div class="card">
            <img src="../../../assets/img/consulting.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Consulting</h5>
              <p class="card-text">
                    Implementamos en conteo regresivo, no
                    progresivo; manteniendo un cronograma
                    estricto y fiel a los costos proyectados.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
