<div class="seccion-container contactanos">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="titulo">Contáctanos</h1>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15930.023185997137!2d-76.5263214!3d3.4694535!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf6f9bda0c2181fb5!2sSiesa!5e0!3m2!1ses-419!2sco!4v1669494310279!5m2!1ses-419!2sco"
          width="100%"
          height="300"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
    <div class="row formulario">
      <div class="col">
        <div class="container">
          <form class="row">
            <div class="col-md-6">
              <label for="inputNombre" class="form-label">Nombre</label>
              <input
                type="text"
                class="form-control"
                id="inputNombre"
                required
                placeholder="Nombre *"
              />
            </div>
            <div class="col-md-6">
              <label for="inputApellidos" class="form-label">Apellidos</label>
              <input
                type="text"
                class="form-control"
                id="inputApellidos"
                required
                placeholder="Apellidos *"
              />
            </div>
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                id="inputEmail4"
                required
                placeholder="Email *"
              />
            </div>
            <div class="col-md-6">
              <label for="inputCelular" class="form-label">Celular</label>
              <input
                type="text"
                class="form-control"
                id="inputCelular"
                required
                placeholder="Celular *"
              />
            </div>
            <div class="col-md-6">
              <label for="inputCargo" class="form-label">Cargo</label>
              <input
                type="text"
                class="form-control"
                id="inputCargo"
                required
                placeholder="Cargo *"
              />
            </div>
            <div class="col-md-6">
              <label for="inputCiudad" class="form-label">Ciudad</label>
              <input
                type="text"
                class="form-control"
                id="inputCiudad"
                required
                placeholder="Ciudad *"
              />
            </div>
            <div class="col-md-6">
              <label for="inputEmpresa" class="form-label">Empresa</label>
              <input
                type="text"
                class="form-control"
                id="inputEmpresa"
                placeholder="Empresa"
              />
            </div>
            <div class="col-md-6">
              <label for="inputNit" class="form-label">Nit</label>
              <input
                type="number"
                class="form-control"
                id="inputNit"
                required
                placeholder="Nit *"
              />
            </div>
            <div class="col-md-6">
              <label for="inputNumEmp" class="form-label"
                >Número de empleados</label
              >
              <input
                type="number"
                class="form-control"
                id="inputNumEmp"
                required
                placeholder="Número de empleados *"
              />
            </div>
            <div class="col-md-6">
              <label for="inputNumUser" class="form-label"
                >Número de usuarios</label
              >
              <input
                type="number"
                class="form-control"
                id="inputNumUser"
                required
                placeholder="Número de usuarios *"
              />
            </div>
            <div class="col-md-12">
              <label for="solicitud" class="form-label"
                ></label
              >
              <textarea
                class="form-control"
                id="solicitud"
                required
                placeholder="Describa su solicitud sobre la solución que requiere."
                rows="7"
              ></textarea>
            </div>

            <div class="col-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="terminos" />
                <label class="form-check-label" for="terminos">
                  Acepto términos y condiciones.
                </label>
              </div>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
